<form [formGroup]="form" (ngSubmit)="saveChanges()">
  <h1 mat-dialog-title>Survey type</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Instructions</mat-label>
      <textarea matInput type="text" formControlName="instructions"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Prefix</mat-label>
      <input matInput type="text" formControlName="prefix" />
    </mat-form-field>
    <mat-slide-toggle formControlName="hasRadar">Has Radar</mat-slide-toggle>
    <mat-slide-toggle formControlName="hasBar">Has Bar</mat-slide-toggle>
    <mat-slide-toggle formControlName="hasMeasureQuestion"
      >Has Measure Question</mat-slide-toggle
    >
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="form.invalid || form.pristine"
    >
      Save
    </button>
  </div>
</form>
