<form [formGroup]="form" (ngSubmit)="saveChanges()">
  <h1 mat-dialog-title>{{ 'Survey type' | translate }}</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ 'Name' | translate }}</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'Instructions' | translate }}</mat-label>
      <textarea matInput type="text" formControlName="instructions"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'Prefix' | translate }}</mat-label>
      <input matInput type="text" formControlName="prefix" />
    </mat-form-field>
    <mat-slide-toggle formControlName="hasRadar">{{
      'Has Radar' | translate
    }}</mat-slide-toggle>
    <mat-slide-toggle formControlName="hasBar">{{
      'Has Bar' | translate
    }}</mat-slide-toggle>
    <mat-slide-toggle formControlName="hasMeasureQuestion">{{
      'Has Measure Question' | translate
    }}</mat-slide-toggle>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'Cancel' | translate }}</button>
    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="form.invalid || form.pristine"
    >
      {{ 'Save' | translate }}
    </button>
  </div>
</form>
