<form [formGroup]="form" class="container">
  <mat-card>
    <mat-card-title>{{ 'Survey.Title' | translate }}</mat-card-title>
    <mat-card-content>
      <div class="row">
        <mat-form-field appearance="outline" class="col-8">
          <mat-label>{{ 'Title' | translate }}</mat-label>
          <input matInput type="text" formControlName="title" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-4">
          <mat-label>{{ 'Type' | translate }}</mat-label>
          <mat-select formControlName="type" [compareWith]="compareFn">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let type of types$ | async" [value]="type">{{
              type.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>{{ 'Description' | translate }}</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <div class="header-container">
          <h2>{{ 'Measure.Plural' | translate }}</h2>
          <button mat-flat-button color="primary" (click)="addMeasure()">
            {{ 'Measure.New' | translate }}
          </button>
        </div>
        <mat-accordion class="col-12" multi formArrayName="measures">
          <mat-expansion-panel
            *ngFor="let measure of measuresArray.controls; let i = index"
          >
            <mat-expansion-panel-header>
              <mat-panel-title
                >{{ 'Measure.Title' | translate }} {{ i + 1 }}</mat-panel-title
              >
            </mat-expansion-panel-header>
            <tips-measure-form [index]="i"></tips-measure-form>
            <button
              class="remove-measure"
              mat-stroked-button
              color="warn"
              (click)="removeMeasure(i)"
            >
              {{ 'Remove measure' | translate }}
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-content>
  </mat-card>
  <button
    mat-raised-button
    id="save-button"
    color="primary"
    [disabled]="!form.valid"
    (click)="saveSurvey()"
  >
    {{ 'Save' | translate }}
  </button>
</form>
