<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Surveys">
      <div class="header-container">
        <h2>Surveys</h2>
        <a mat-raised-button color="primary" [routerLink]="['form']"
          >New survey</a
        >
      </div>

      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let survey">{{ survey.title }}</td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let survey">{{ survey.type.name }}</td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>Created at</th>
          <td mat-cell *matCellDef="let survey">{{ survey.createdAt }}</td>
        </ng-container>
        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef>Updated at</th>
          <td mat-cell *matCellDef="let survey">{{ survey.updatedAt }}</td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="['title', 'type', 'createdAt', 'updatedAt']"
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let row;
            columns: ['title', 'type', 'createdAt', 'updatedAt']
          "
        ></tr>
      </table>
    </mat-tab>
    <mat-tab label="Types"><tips-types></tips-types></mat-tab>
    <mat-tab label="Measures"></mat-tab>
  </mat-tab-group>
</div>
