<form [formGroup]="form" class="row">
  <mat-form-field class="col-8" appearance="fill">
    <mat-label>{{ 'Name' | translate }}</mat-label>
    <input type="text" matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field class="col-4" appearance="fill">
    <mat-label>{{ 'Weighting' | translate }}</mat-label>
    <input type="number" matInput formControlName="weighting" />
    <mat-icon matSuffix>percent</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{ 'Description' | translate }}</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <div class="header-container">
    <h3>{{ 'Questions' | translate }}</h3>
    <button mat-raised-button color="accent" (click)="addQuestion()">
      {{ 'Add question' | translate }}
    </button>
  </div>
  <div formArrayName="questions">
    <mat-card
      *ngFor="let question of questionArray.controls; let i = index"
      class="mat-elevation-z8"
    >
      <mat-card-content>
        <mat-card-title
          >{{ 'Question' | translate }} {{ i + 1 }}</mat-card-title
        >
        <tips-question-form [index]="i"></tips-question-form>
        <button
          mat-stroked-button
          color="warn"
          class="remove-question"
          (click)="removeQuestion(i)"
        >
          {{ 'Remove question' | translate }}
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</form>
